@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --main-color: #38af90;
    --color-gray: #797979;
    --color-white: #ffffff;
    --bg-gray: #f0f0f0;
    --color-light-red: #dd7e92;
    --footer-color-dark-gray: #383838;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}

header{
    background-color: var(--main-color);
    height: 90px;
}

.dsplaygames-nav-container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.dsplaygames-menu-container{
    display: flex;
}

.dsplaygames-menu-container img{
    height: 62px;
    width: 62px;
}

.dsplaygames-menu-items{
    list-style-type: none;
}